<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
<br/>
<a href="#" id="my-link">Add Message</a>
<div id="my-div"></div>
<script>
 var $link = document.querySelector("#my-link");
 $link.addEventListener('click', function(e){
 e.preventDefault();
 setTimeout(function(){
 document.querySelector("#my-div").innerHTML =
"<h1>Yes!<h1>";
 }, 4000);
 }, false)
</script>